{% extends 'base.html' %}

    {% block body %}
        <h1 class="text-center display-3">Sobre</h1>
        <hr><br>
        <br>
        <div class="lead">
            <p>Me chamo Renato de Souza Brasolin, tenho 36 anos, sou Programador Junior e também posso fornecer suporte
                em dados em diferentes setores, o que me permite contribuir de forma abrangente e efetiva para o
                desenvolvimento de projetos e soluções tecnológicas.
            </p>
            <p>Quanto ao meu histórico acadêmico, cursei o ensino médio técnico em processamento de dados,
               onde tive meu primeiro contato com programação. Em seguida, iniciei uma graduação em tecnologia
               da comunicação para web, porém não concluí o último ano do curso.
            </p>
            <p>Como profissional, possuo sólida experiência em gestão de dados adquirida durante meu
               tempo de atuação no departamento financeiro e logística. Tenho ampla vivência no controle de contas a
               pagar, contas a receber, conciliações bancárias, fluxo de caixa, emissão e entrada de notas fiscais,
               cadastro, movimentação e distribuição de produtos, entre outras atividades relacionadas.
            </p>
            <p>Nos últimos tempos, venho me dedicando a cursos na área de TI, o que me possibilitou aprofundar
               meus conhecimentos em Excel e aprender a programar em Python. Obtive conhecimento em diversas bibliotecas,
               como Pandas, PyAutoGUI, Selenium, Flask, entre outras. Também tenho habilidades com Power BI, familiaridade
               com sistemas ERP e boas noções de VBA, SQL, HTML, CSS e Programação Orientada a Objetos.
            </p>
            <p>Esses estudos me permitiram adquirir habilidades em elaboração de planilhas automatizadas,
               manipulação de dados, análise de dados, criação de painéis visuais interativos para visualização de
               dados (dashboards), coleta automática de dados da web (web scraping), automação de
               processos robóticos (RPA), entre outras. Apesar de ainda estar aprendendo sobre banco de dados
               relacional e desenvolvimento, estou progredindo a cada dia.
            </p>
            <p>Atualmente, atuo como gestor de dados e assistente financeiro, mas não possuo restrições ou
                preferências por uma área específica de TI. Tenho habilidades para fornecer suporte em dados,
                desenvolvimento, finanças, logística ou administração geral, integrando minha experiência profissional com
                os conhecimentos adquiridos recentemente. Sou uma pessoa responsável, analítica, detalhista, organizada,
                empática e colaborativa, o que me ajuda a me comunicar de forma eficaz e a trabalhar
                com eficiência em equipe. Estou motivado e entusiasmado para explorar as oportunidades que
                a área de TI tem a oferecer, buscando encontrar meu lugar no setor e adquirir experiência.
            </p>
        </div>
    {% endblock %}