{% extends 'base.html' %}

    {% block body %}
        <h1 class="text-center display-3">Certificados</h1>
        <hr><br>
        <div class="card">
            <div class="card-body bg-light">
                <br>
                <div style="text-align: left;">
                    <div class="container lead">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='certificados/Modulo-Basico-Excel.pdf') }}" type="application/pdf">
                                </div>
                                <a href="{{ url_for('static', filename='certificados/Modulo-Basico-Excel.pdf') }}" class="text-decoration-none text-terciary" target="_blank">Clique para visualizar o certificado</a>
                                <br><br>
                                <div class="embed-responsive embed-responsive-4by3">
                                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='certificados/Modulo-Intermediario-Excel.pdf') }}" type="application/pdf">
                                </div>
                                <a href="{{ url_for('static', filename='certificados/Modulo-Intermediario-Excel.pdf') }}" class="text-decoration-none text-terciary" target="_blank">Clique para visualizar o certificado</a>
                                <br><br>
                                <div class="embed-responsive embed-responsive-4by3">
                                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='certificados/Modulo-Avancado-Excel.pdf') }}" type="application/pdf">
                                </div>
                                <a href="{{ url_for('static', filename='certificados/Modulo-Avancado-Excel.pdf') }}" class="text-decoration-none text-terciary" target="_blank">Clique para visualizar o certificado</a>
                                <br>
                            </div>
                            <div class="col-md-8">
                                <h3 class="display-6">Microsoft Excel Avançado </h3>
                                <br>
                                <p>Desde o meu primeiro emprego, tenho utilizado o Excel, porém, durante muito tempo,
                                    explorei o programa de forma pouco eficiente. Ao iniciar o curso de Excel avançado
                                    com a professora Arlane Gonçalves, eu não tinha muita ideia do conteúdo em si, mas
                                    tinha a convicção de que, ao terminá-lo, adquiriria habilidades para melhor
                                    controlar os dados. A didática da professora me permitiu assimilar rapidamente
                                    as principais funções, o conceito de tabela dinâmica, entre outras diversas
                                    ferramentas do Excel, o que melhorou consideravelmente o meu desempenho no
                                    trabalho. No entanto, foi ao revisitar a função 'SE', que havia aprendido durante
                                    o curso técnico do ensino médio, que me senti impulsionado a aprender uma
                                    linguagem de programação.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-body bg-light">
                <br>
                <div style="text-align: left;">
                    <div class="container lead">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='certificados/CC50.pdf') }}" type="application/pdf">
                                </div>
                                  <br>
                                  <a href="{{ url_for('static', filename='certificados/CC50.pdf') }}" class="text-decoration-none text-terciary" target="_blank">Clique para visualizar o certificado</a>
                            </div>
                            <div class="col-md-8">
                                <h3 class="display-6">CC50 - Introdução à Ciência da Computação</h3>
                                <br>
                                <p>O curso original, conhecido como CS50, é ministrado na Universidade de Harvard
                                    pelo renomado professor David J. Malan. Já a Fundação Estudar oferece o curso
                                    legendado em português, o CC50. Quando decidi aprender Python, optei por fazer
                                    esse curso primeiro para obter uma visão geral sobre ciência da computação.
                                    Durante as aulas, pude entender melhor o funcionamento dos computadores, desde
                                    a linguagem binária até o uso de diversas linguagens de programação, como 'C'
                                    e JavaScript. Foi uma experiência enriquecedora que me proporcionou um
                                    entendimento mais profundo sobre o mundo da tecnologia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-body bg-light">
                <br>
                <div style="text-align: left;">
                    <div class="container lead">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='certificados/Algoritmos-e-Programacao--Modulo-Basico.pdf') }}" type="application/pdf">
                                </div>
                                <a href="{{ url_for('static', filename='certificados/Algoritmos-e-Programacao--Modulo-Basico.pdf') }}" class="text-decoration-none text-terciary" target="_blank">Clique para visualizar o certificado</a>
                                <br><br>
                                <div class="embed-responsive embed-responsive-4by3">
                                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='certificados/Algoritmos-e-Programacao--Modulo-Intermediario.pdf') }}" type="application/pdf">
                                </div>
                                <a href="{{ url_for('static', filename='certificados/Algoritmos-e-Programacao--Modulo-Intermediario.pdf') }}" class="text-decoration-none text-terciary" target="_blank">Clique para visualizar o certificado</a>
                                <br><br>
                                <div class="embed-responsive embed-responsive-4by3">
                                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='certificados/Algoritmos-e-Programacao--Modulo-Avanc.pdf') }}" type="application/pdf">
                                </div>
                                <a href="{{ url_for('static', filename='certificados/Algoritmos-e-Programacao--Modulo-Avanc.pdf') }}" class="text-decoration-none text-terciary" target="_blank">Clique para visualizar o certificado</a>
                                <br>
                            </div>
                            <div class="col-md-8">
                                <h3 class="display-6">Algoritmos e Lógica de Programação, em Python</h3>
                                <br>
                                <p>O curso ministrado pelo professor Geneflides Laureno é uma excelente escolha para
                                    quem está começando a aprender programação. Com uma didática de fácil compreensão
                                    para iniciantes, ele nos guia desde o básico, como as estruturas de um computador
                                    e a lógica de programação, até o domínio da linguagem estruturada do Python.
                                    O curso finaliza com a criação de um projeto prático, um mini sistema. Durante
                                    as aulas, o professor nos aconselha a compreender toda a estrutura da linguagem
                                    antes de recorrer a bibliotecas, o que faz total sentido para um aprendizado
                                    sólido. Lembro-me de que, para fixar o conteúdo, fazia comentários em quase
                                    todas as linhas de código das aulas, e isso fez grande diferença no meu aprendizado.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-body bg-light">
                <br>
                <div style="text-align: left;">
                    <div class="container lead">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='certificados/Python Impressionador.pdf') }}" type="application/pdf">
                                </div>
                                  <br>
                                  <a href="{{ url_for('static', filename='certificados/Python Impressionador.pdf') }}" class="text-decoration-none text-terciary" target="_blank">Clique para visualizar o certificado</a>
                            </div>
                            <div class="col-md-8">
                                <h3 class="display-4">Python Impressionador</h3>
                                <br>
                                <p>O curso Python Impressionador, ministrado pelo professor João Paulo Lira da
                                    Hashtag Treinamentos, possui uma excelente didática e oferece um conteúdo
                                    completo e robusto. Além de abordar a linguagem Python em si, o curso me apresentou
                                    diversos exemplos práticos de sua aplicação no mercado de trabalho, incluindo
                                    as principais bibliotecas utilizadas. Com vários projetos completos, como
                                    análise de dados, automação RPA, automação web, ciência de dados e desenvolvimento,
                                    o curso me possibilitou adquir habilidades para utilizar o Python em várias
                                    áreas profissionais. Além disso, o curso oferece materiais sobre outras
                                    ferramentas como SQL, VBA e Power BI, ampliando ainda mais as possibilidades de
                                    aprendizado e desenvolvimento de habilidades.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}