{% extends 'base.html' %}
    {% block head %}
    {% endblock %}

    {% block body %}
        <h1 class="text-center display-3">Dashboard de Pagamentos</h1>
        <hr><br>
        <div class="lead">
            <p>Nesse dashboard de pagamentos, utilizei o Power BI para tratar e analisar a base de dados fictícia
                fornecida pela Hashtag Treinamentos. Consultei o Chat GPT quando precisei de ajuda na construção dos
                códigos de tratamento e modelagem de dados (linguagens 'M' e 'DAX').
            </p>
            <p>A base de dados de pagamentos é coerente, porém não é a mais abrangente. Por não fornecer dados de
                contas futuras, não é possível fazer análises de contas a pagar, por exemplo. Então, as análises desse
                dashboard são focadas nas contas pagas.
            </p>
            <p>Esse dashboard tem apenas uma segmentação, que filtra os anos. Porém, consegui distribuir muitas
                informações dentro de uma mesma página. É importante ler os títulos dos gráficos para melhor
                interpretação dos dados.
            </p>
            <br>
            <div class="card bg-light">
                <div class="card-body">
                    <br>
                     <div style="text-align: center;">
                         <iframe title="Report Section" width="900" height="560.25" src="https://app.powerbi.com/view?r=eyJrIjoiZDJiYTgwNDMtYmZlYS00N2I5LWI1NmQtNDc2OGJmYmI2MmE2IiwidCI6IjZiZGZmMjVkLTNiY2YtNDBmNS1hOGFlLWM4MTllMTE4MWMyYSJ9" frameborder="0" allowFullScreen="true">
                         </iframe>
                     </div>
                </div>
            </div>
            <br>
            <p>Ferramentas utilizadas na criação desse dashboard:</p>
            <ul>
            <li>Excel: Visualização prévia da base dados.</li>
            <li>Power Point: Criação do layout do dashboard.</li>
            <li>Power BI: Tratamento e análise de dados, e criação dos gráficos e elementos do dashboard.</li>
            </ul>
        </div>
    {% endblock %}