<br>
<footer class="bg-dark text-light py-5">
  <div class="container-fluid container">
    <div class="row">
      <div class="col-md-4 mb-5">
        <br>
        <h5>Contato</h5>
        <ul class="list-unstyled">
          <li>renatobrasolin@gmail.com</li>
          <li>55-11940215447</li>
          <li>São Paulo-SP</li>
        </ul>
      </div>
      <div class="col-md-4 mb-5">
      </div>
      <div class="col-md-4 mb-5">
        <br>
        <h5>Redes</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/renato-brasolin-8294a7230/" class="text-decoration-none text-terciary" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/rensbrasolin" class="text-decoration-none text-terciary" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-secondary py-4">
    <div class="container">
      <div class="text-center">
        &copy; 2023 All rights reserved.
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>
</footer>