{% extends 'base.html' %}
    {% block head %}
        <style>
          body {
            background-image: url('static/rensbr/bg2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

                  .text-visual {
            color: #C0C0C0;
            padding: 20px;
          }

          h1 {
            font-size: 40px;
            font-weight: bold;
          }

          p {
            font-size: 20px;
            font-weight: bold;
          }
        </style>
    {% endblock %}

    {% block body %}
         <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body bg-dark">
                        <div class="text-visual">
                          <h2>Olá, seja bem-vindo(a)!<br><br>
                              Meu nome é Renato Brasolin, sou programador junior back end e também forneço suporte
                              em dados. Atualmente estou em busca de novos desafios e oportunidades na área de TI.
                          </h2>
                          <br><hr><br><hr><br>
                          <h2>Este é o meu portfólio, um espaço onde você encontrará informações profissionais sobre
                              mim e poderá conferir alguns dos meus projetos.
                          </h2>
                          <br><hr><br><hr><br>
                          <h2>Sinta-se à vontade para explorar o site através da barra de navegação superior.
                          </h2>
                          <br><hr><br><hr><br>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-4">-->
<!--            </div>-->
         </div>
    {% endblock %}